<!-- templates/add_question.html -->
{% extends "base.html" %}
{% block content %}
<h2>Add New Question</h2>
<form method="post">
    Question: <input type="text" name="question" required><br><br>
    Option A: <input type="text" name="option_a" required><br><br>
    Option B: <input type="text" name="option_b" required><br><br>
    Option C: <input type="text" name="option_c" required><br><br>
    Option D: <input type="text" name="option_d" required><br><br>
    Correct Option (a, b, c, or d): <input type="text" name="correct_option" required><br><br>
    <input type="submit" value="Add Question">
</form>
{% endblock %}

